<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="users" class="org.example.User">
        <constructor-arg value="1"/>
        <constructor-arg value="SHAMIM" />
        <constructor-arg value="hackershamim6@gmail.com" />
        <constructor-arg>
            <list>
                <value>polash</value>
                <value>narsindi</value>
                <value>mirpur</value>
            </list>
        </constructor-arg>
    </bean>

    <bean class="org.example.Shamim" id="shamims">
        <constructor-arg value="900000000" />
        <constructor-arg ref="users" />
    </bean>
</beans>