<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="org.example.Impoye" id="i1">
        <property name="name">
            <value>
                Md.Shamim
            </value>
        </property>
        <property name="phone">
            <list>
                <value>1775864466</value>
                <value>1904742872</value>
            </list>
        </property>
        <property name="addresses">
            <set>
                <value>Cholona</value>
                <value>Polash</value>
                <value>Mirpur</value>
            </set>
        </property>

        <property name="course">
            <map>
                <entry key="pechorin" value="pechorin@hero.org"/>
                <entry key="raskolnikov" value="raskolnikov@slums.org"/>
                <entry key="stavrogin" value="stavrogin@gov.org"/>
                <entry key="porfiry" value="porfiry@gov.org"/>
            </map>
        </property>
    </bean>
</beans>